<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form action="get-form-data" method="post">
        <input name="Email" type="text" placeholder="Write your E-mail">
        <input name="password" type="password" placeholder="Write your password">
        <button type="submit">Submit</button>
    </form>
    <script src="/assets/index.js"></script>
</body>
</html>